.container{
    width: 450px;
    height: auto;
    overflow: hidden;

}
.cabecalho{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 450px;
    height: 92px;
    display: flex;
    flex-direction: column;
    background-color: #CF2B2B;
    
    
}
.logo{
    width: 248px;
    height: 44px;
    font-family: Righteous;
    font-style: regular;
    font-weight: 400;
    font-size: 44px;
    margin-left: 21px;
    margin-top: 8px;
    line-height: 55px;
    text-align: left;
    color: #FFFFFF;
    letter-spacing: -1.2%;
}
.slogan{
    width: 226px;
    height: 17px;
    margin-top: 5px;
    margin-left: 21px;

    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #FFFFFF;
}
.menu{
    width: 100%;
    height: auto;
    margin-top: 92px;
    display: flex;
    flex-direction: column;
    background-color: #EAEAEA;

}
.texto{
    width: 350px;
    height: auto;
    margin-top: 27px;
    margin-left: 19px;
    font-family: Righteous;
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.018em;
    text-align: left;
}
.pratos{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 17px;
    overflow: scroll;
    scrollbar-width: none;
    
}
.item{
    width: 172px;
    height: 216px;
    margin-left: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    background-color: #FFFFFF;
}
.foto img{
    width: 114px;
    height: 87px;
    border-radius: 4px;
}
.nome{
    width: 139px;
    height: 23px;
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    line-height: 100%;
    margin-left:15px;
    text-align: left;
    vertical-align: top;
    fill: solid #333333;
}
.descricao{
    width: 147px;
    height: 39px;

    font-family: roboto;
    font-weight: lighter;
    font-style: light;
    font-size: 15px;
    line-height: 18px;
    vertical-align: top;
    margin-left: 18px;
    margin-top: 10px;
    text-align: left;
    fill: solid #A6A6A6;
}
.preco{

  
  width: 140px;
  height: 19px;
  font-family: roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  fill: solid #000000;
  vertical-align: top;
  text-align: left;
  justify-content: space-between;
  margin-left: 15px;
}
.bebidas{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 17px;
    overflow: scroll;
    scrollbar-width: none;
    
}
.sobremesas{
    width: 100%;
    height: auto;
    margin-bottom: 92px;
    display: flex;
    margin-top: 17px;
    overflow: scroll;
    scrollbar-width: none;
}
.rodape{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 450px;
    height: 92px;
    display: flex;
    background-color:#E5E5E5;
    justify-content: center;
    align-items: center;

    
    
}
.botao{
    width: 364px;
    height: 53px;
    display: flex;
    font-family: roboto;
    font-style: regular;
    font-size: 20px;
    letter-spacing: 1.8%;
    justify-content: center;
    align-items: center;
    border-radius: 27px;
    
}
.rodape button{
    width: 364px;
    height: 61px;
    font-family: roboto;
    font-style: regular;
    font-size: 20px;
    letter-spacing: 1.8%;
    border: 0px;
    border-radius: 27px;
    color: #FFFFFF;
    background-color: #CBCBCB;
}
button{
    border: none;
}
ion-icon{
    color: #32B72F;
    margin-top: 5px;
    margin-left: 50px;
    width: 16px;
    height: 16px;
    opacity: 0;
}
.selecionado{
    border: 4px solid #32B72F;
    
    
}
.selecionado ion-icon{
    opacity: 1;
}
.escondido{
    display: none;
}
.botaoSelecionado button {
    color: #FFFFFF;
    background-color: #32B72F;
}